@import 'https://fonts.googleapis.com/css?family=Roboto';

*{
  box-sizing: border-box;
}

body{
  background-color: #271956;
  font-family: 'Roboto', sans-serif;
  background-image: radial-gradient(ellipse 1080px 100% at top center, #3a7bd5, #271956);
  background-attachment: fixed;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 450px;
  height: 250px;  
  font-size: 18px;
  font-weight: 300;
}

h1{
  margin-bottom: 0.4em;
  font-size: 1.5em;
}


.main{
  width: 550px;
  color: white;
}

.banner{
  box-sizing: border-box;
  height: 250px;
  opacity: 0;
  background: rgba(110, 174, 207, 0.15);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.banner-content{
  box-sizing: border-box;
  width: 140px;
  height: 100%;
  position: relative;
  padding: 27.2px 32px;
  float: right;
  text-align: right;
  background: #2196f3;
}

.banner-content > * {
  z-index: 1;
  position: relative;
  float: right;
}

.banner-content > *:nth-child(1) {
  width: 300%;
  float: right;
}
.banner-content > *:nth-child(2) {
  width: 260%;
}

.banner-content:before{
  content: '';
  display: block;
  position: absolute;
  right: 99%;
  top: 0;
  border-style: solid;
  border-color: transparent;
  border-right-color: #2196f3;
  border-width: 0 200px 250px 200px;
  z-index: 0;
}

.banner-content:after{
  content: '';
  display: block;
  position: absolute;
  right: 99%;
  bottom: 0;
  border-style: solid;
  border-width: 0 0 90px 90px;
  border-color: transparent transparent #2196f3 transparent;
  z-index: 0;
}

.banner-button {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.button {
  padding: 0.5em 1.5em;
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  border: 1px solid;
  border-radius: 0.5em;
  cursor: pointer;
  -webkit-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}
.button:hover {
  background: white;
  color: #36e2be;
}

.banner.is-visible{
  animation: loading 600ms ease-in forwards;
  animation-delay: 1s;
}

@keyframes loading {
  0% {
    opacity: 0;
    box-shadow: none;
    transform: scale(0.3) rotateY(90deg);
  }
  60%{
   transform: scale(1.4); 
  }
  90%{
   transform: scale(0.9);
  }
  100% {
    opacity: 1;
  }
}